# [rentacar]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [rentacar]    Script Date: 24.08.2023 20:37:40 ******/
CREATE DATABASE [rentacar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'rentacar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\rentacar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'rentacar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\rentacar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [rentacar] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rentacar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [rentacar] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [rentacar] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [rentacar] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [rentacar] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [rentacar] SET ARITHABORT OFF 
GO
ALTER DATABASE [rentacar] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [rentacar] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [rentacar] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [rentacar] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [rentacar] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [rentacar] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [rentacar] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [rentacar] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [rentacar] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [rentacar] SET  DISABLE_BROKER 
GO
ALTER DATABASE [rentacar] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [rentacar] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [rentacar] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [rentacar] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [rentacar] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [rentacar] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [rentacar] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [rentacar] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [rentacar] SET  MULTI_USER 
GO
ALTER DATABASE [rentacar] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [rentacar] SET DB_CHAINING OFF 
GO
ALTER DATABASE [rentacar] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [rentacar] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [rentacar] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [rentacar] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [rentacar] SET QUERY_STORE = ON
GO
ALTER DATABASE [rentacar] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[branch]

In [0]:
USE [rentacar]
GO

In [0]:
/****** Object:  Table [dbo].[branch]    Script Date: 24.08.2023 20:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branch](
	[SubeID] [int] IDENTITY(1,1) NOT NULL,
	[subeAdi] [varchar](50) NULL,
	[subeLokasyon] [varchar](50) NULL,
 CONSTRAINT [PK_branch] PRIMARY KEY CLUSTERED 
(
	[SubeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[cars]

In [0]:
/****** Object:  Table [dbo].[cars]    Script Date: 24.08.2023 20:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[carID] [int] IDENTITY(1,1) NOT NULL,
	[price] [money] NULL,
	[quantity] [int] NULL,
	[carBrand] [varchar](50) NULL,
	[carModel] [varchar](50) NULL,
	[carModelYear] [varchar](50) NULL,
	[carPacket] [varchar](50) NULL,
	[Colour] [varchar](50) NULL,
	[gear] [int] NULL,
 CONSTRAINT [PK_cars] PRIMARY KEY CLUSTERED 
(
	[carID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[customers]

In [0]:
/****** Object:  Table [dbo].[customers]    Script Date: 24.08.2023 20:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customerNo] [int] IDENTITY(1,1) NOT NULL,
	[customerNameSurname] [varchar](50) NULL,
	[customerPhone] [char](11) NULL,
	[customerAge] [int] NULL,
	[customerBalance] [money] NULL,
	[customerPayment] [money] NULL,
	[customerPW] [varchar](50) NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[customerNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[employee]

In [0]:
/****** Object:  Table [dbo].[employee]    Script Date: 24.08.2023 20:37:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[employeeID] [int] IDENTITY(1,1) NOT NULL,
	[employeeNameSurname] [varchar](50) NULL,
	[employeePhone] [char](11) NULL,
	[employeeTitle] [varchar](50) NULL,
	[employeeMail] [varchar](50) NULL,
	[empoloyeeWage] [money] NULL,
	[empoloyeePw] [varchar](50) NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[branch]

In [0]:
SET IDENTITY_INSERT [dbo].[branch] ON 
INSERT [dbo].[branch] ([SubeID], [subeAdi], [subeLokasyon]) VALUES (1, N'bCar', N'Besiktas')
INSERT [dbo].[branch] ([SubeID], [subeAdi], [subeLokasyon]) VALUES (2, N'nCar', N'Nisantasi')
SET IDENTITY_INSERT [dbo].[branch] OFF
GO

# [dbo].[cars]

In [0]:
SET IDENTITY_INSERT [dbo].[cars] ON 
INSERT [dbo].[cars] ([carID], [price], [quantity], [carBrand], [carModel], [carModelYear], [carPacket], [Colour], [gear]) VALUES (1, 1500.0000, 5, N'Honda', N'i20', N'2020', N'Highline', N'Pembe', 6)
INSERT [dbo].[cars] ([carID], [price], [quantity], [carBrand], [carModel], [carModelYear], [carPacket], [Colour], [gear]) VALUES (2, 2500.0000, 2, N'BMW', N'1.18', N'2019', N'Trendline', N'Siyah', 6)
SET IDENTITY_INSERT [dbo].[cars] OFF
GO

# [dbo].[customers]

In [0]:
SET IDENTITY_INSERT [dbo].[customers] ON 
INSERT [dbo].[customers] ([customerNo], [customerNameSurname], [customerPhone], [customerAge], [customerBalance], [customerPayment], [customerPW]) VALUES (1, N'furkan', N'5442603193 ', 30, 10000.0000, 2000.0000, N'12')
INSERT [dbo].[customers] ([customerNo], [customerNameSurname], [customerPhone], [customerAge], [customerBalance], [customerPayment], [customerPW]) VALUES (4, N'deneme', N'5442603193 ', 25, 1000.0000, 2000.0000, N'41')
SET IDENTITY_INSERT [dbo].[customers] OFF
GO

# [dbo].[employee]

In [0]:
SET IDENTITY_INSERT [dbo].[employee] ON 
INSERT [dbo].[employee] ([employeeID], [employeeNameSurname], [employeePhone], [employeeTitle], [employeeMail], [empoloyeeWage], [empoloyeePw]) VALUES (1, N'furkan', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[employee] ([employeeID], [employeeNameSurname], [employeePhone], [employeeTitle], [employeeMail], [empoloyeeWage], [empoloyeePw]) VALUES (2, N'furkan', N'5442603193 ', N'yönetici', N'furkan@gmail.com', 5000.0000, N'123')
SET IDENTITY_INSERT [dbo].[employee] OFF
GO

# [rentacar]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [rentacar] SET  READ_WRITE 
GO